<a href="https://colab.research.google.com/github/akeellaaa/aqillah29/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, Welcome to my Crib")

Hello, Welcome to my Crib

In [ ]:
name = "Aqillah"
age = 24

print("My name is", name)
print("I am", age, "years old.")

My name is Aqillah
I am 24 years old.

In [ ]:
a = 10
b = 5

#comment
#Addition
print("Sum:",a+b)

#Subtraction
print("Difference:",a-b)

#Multiply
print("Product:",a*b)

#Divide
print("Division:",a/b)

Sum: 15
Difference: 5
Product: 50
Division: 2.0

In [ ]:
score = 45

if score >= 80:
  print("You are an A!")
else:
    print ("Keep trying!")

Keep trying!

In [ ]:
for i in range(6): #Loops from 0 to 5
  print("This is loop number",i)

This is loop number 0
This is loop number 1
This is loop number 2
This is loop number 3
This is loop number 4
This is loop number 5

In [ ]:
name = "Aqillah"
def greet(name):
  print("Hello",name+"!")

greet("Aqillah")

Hello Aqillah!

In [ ]:
name = input("Enter your name: ")
age = input("How old are you? ")
print("Nice to meet you,",name,"and you are",age,"years old")

Enter your name: Aqillah
How old are you? 24
Nice to meet you, Aqillah and you are 24 years old